h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: solid 3px red;
    background-color: blueviolet;
}

div{
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0 auto;
}

.life{
    color: purple;
}

.training{
    color: brown;
}

.adventures{
    color: aqua;
}